<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TodoGether</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
  <h1> TodoGether </h1>

  <a th:href="@{/mostrarTelaLogin}" class="btn btn-primary btn-sm mb-3"> Login </a>
  <a th:href="@{/mostrarTelaCadastro}" class="btn btn-primary btn-sm mb-3"> Cadastro </a>
</div>
</body>
</html>